body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(https://t4.ftcdn.net/jpg/02/36/07/01/360_F_236070143_uUFYaP6UAI2zz0us4cGQ4d5xDajDcpFN.jpg);
}

.header_text {
    font-family: 'Nunito';
    font-size: 50px;
    font-weight: bold;
    color: black;
    background-color: bisque;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

.gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
}
